{% extends "base.html.twig" %}
    {% block body %}

    <h2>Ajout d'une intervention :</h2>
        <form method="post" id="interventionAddForm" }}">
            <!--<label for="user_id">Utilisateur : </label>
            <select name="user_id">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>-->

            <label for="interventionType">Type d'intervention : </label>
            <select name="interventionType" id="interventionType">
                {% for interventionType in interventionTypes %}
                {% if intervention.interventiontypeid == interventionType.interventiontypeid %}
                <option value="{{ interventionType.interventiontypeid }}" selected>{{ interventionType.interventiontypename }}</option>
                {% else %}
                <option value="{{ interventionType.interventiontypeid }}">{{ interventionType.interventiontypename }}</option>
                {% endif %}
                {% endfor %}
            </select>

            <label for="room_id">Numero de la pièces : </label>
            <select name="room_id" id="room_id">
                {% for room in rooms %}
                {% if intervention.roomid == room.roomid %}
                <option value="{{ room.roomid }}" selected>{{ room.roomnumber }}</option>
                {% else %}
                <option value="{{ room.roomid }}">{{ room.roomnumber }}</option>
                {% endif %}
                {% endfor %}
            </select>
            
            <label for="status_id">Etat : </label>
            <select name="status_id" id="status_id" >
                {% for statu in status %}
                {% if intervention.statusid == statu.statusid %}
                <option value="{{ statu.statusid }}" selected>{{ statu.statusname }}</option>
                {% else %}
                <option value="{{ statu.statusid }}">{{ statu.statusname }}</option>
                {% endif %}
                {% endfor %}
            </select>

    
            <p><label for="name">Nom de l'intervention : </label><input type="text" name="name" id="name" value="{{ intervention.interventionname }}"></p>

            <p><label for="complement">Commentaire : </label><input type="text" name="complement" id="complement" value="{{ intervention.interventioncomplement }}"></p>

            <p><label for="photo">Photo de l'incident : </label><input type="text" name="photo" id="photo" value="{{ intervention.interventionphotoIncident }}"></p>
            
            <input name="interventionid" type="hidden" value="{{ intervention.interventionid }}">

            <input type="submit" value="Enregistrer" />
         
        </form>

    {% endblock %}

    {% block javascripts %}
	<script>
	$(function() {

		console.log("{{ path('intervention_save') }}");
		
		
		$('#interventionAddForm').on('submit', function(e) { //use on if jQuery 1.7+
			e.preventDefault();  //prevent form from submitting
			var values = $(this).serialize();


            function verif(elem)
			{
				if(elem.value.length < 1)
				{	
					elem.style.backgroundColor = "#fba";
					return false
				}
				else
				{
					elem.style.backgroundColor = "";
					return true
				}
			}
			
			if(verif($('#interventionAddForm')[0].interventionType) && verif($('#interventionAddForm')[0].room_id) && verif($('#interventionAddForm')[0].status_id) && verif($('#interventionAddForm')[0].name) && verif($('#interventionAddForm')[0].complement)&& verif($('#interventionAddForm')[0].photo))
			{		
			$.ajax({
				url: "{{ path('intervention_save') }}",
				type: "post",
				data: values ,
				success: function (response) {
				   // you will get response from your php page (what you echo or print)                 
					console.log('success : '+response);
					$('#interventionAddForm')[0].reset();
				},
				error: function(jqXHR, textStatus, errorThrown) {
				   console.log(textStatus, errorThrown);
				}
			}


			);
            }
		});
		
	});
		
	</script>
    {% endblock %}